@import "functions";

$luminosita: 100;

$principale: set-color($luminosita);
$principale-light: #6026dd;

$secondario: rgb(110, 55, 239);
$secondario_light: rgb(124, 77, 234);

$gradiant: linear-gradient(180deg, $secondario 0%, $principale 40%);

$font-body:'Roboto', sans-serif;
