@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: dimgray;
}
.container{
    display: block;
    width: 1000px;
    margin: 0 auto;
    /* margin: 200px auto 0 auto; */
    height: 80vh;
}


li h2{
    margin: 20px 0;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
}

li p{
    margin-top: 40px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

#lista li{
    text-align: center;
    margin: 35px 25px;
    color: black;
    height: 200px;
    width: 20%;
    display: block;
    float: left;
    box-shadow: 2px 2px 10px black;
    position: relative;
    animation: muovi 0.5s linear 1;

    
}
@keyframes muovi {
    0% {transform:scale(0.0) rotate(0deg) ;}
    100% {transform: scale(1.0) rotate(360deg);}
}

#lista li:hover{
    z-index: 5;
    transform: scale(1.5) rotate(0deg);
    
    color: black;
    text-shadow: 1px 1px 0px black;
}
#post1{
    background: linear-gradient(180deg, rgba(242,223,82,1) 12%, rgba(249,187,0,1) 68%);
    transform: rotate(10deg);
}
#post2{
    background: linear-gradient(180deg, rgba(117,255,112,1) 12%, rgba(58,186,41,1) 68%);
    transform: rotate(-10deg);
}
#post3{
    background:linear-gradient(180deg, rgba(194,133,251,1) 12%, rgba(176,85,255,1) 68%);
    transform: rotate(5deg);
}
#post4{
    background: linear-gradient(180deg, rgba(117,255,112,1) 12%, rgba(58,186,41,1) 68%);
    transform: rotate(-10deg);
}
#post5{
    background: linear-gradient(180deg, rgba(242,223,82,1) 12%, rgba(249,187,0,1) 68%);
    transform: rotate(10deg);
}
#post6{
    background: linear-gradient(180deg, rgba(194,133,251,1) 12%, rgba(176,85,255,1) 68%);
    transform: rotate(-5deg);
}
#post7{
    background: linear-gradient(180deg, rgba(242,223,82,1) 12%, rgba(249,187,0,1) 68%);
    transform: rotate(10deg);
}
#post8{
    background: linear-gradient(180deg, rgba(117,255,112,1) 12%, rgba(58,186,41,1) 68%);
}